*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #f7f7f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #205caa;
}
strong {
  font-weight: 400;
}
.wrap {
  max-width: 800px;
  margin: 0 auto;
}
#header,
#content,
#footer {
  text-align: center;
}
#header {
  padding: 20px 0;
}
@media (min-width: 600px) {
  #header {
    padding: 40px 0;
  }
}
#header .logo {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 160px;
  background: url(/img/logo.svg) no-repeat;
  background-size: contain;
  text-align: left;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
@media (min-width: 600px) {
  #header .logo {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
#header .logo .slogan {
  position: absolute;
  width: 200px;
  left: 160px;
  font-size: 16px;
  color: #666666;
}
#header .logo .slogan.lang-fr {
  top: 110px;
}
#header .logo .slogan.lang-de {
  top: 130px;
}
#content {
  background: white;
  padding: 70px 0;
}
@media (min-width: 600px) {
  #content {
    padding: 120px 0;
  }
}
#content .wrap {
  padding: 0 15px;
}
#content .address a {
  color: #333333;
  text-decoration: none;
}
#content .address a:hover {
  text-decoration: none;
}
#content .address .name {
  margin-bottom: 40px;
}
@media (min-width: 600px) {
  #content .address .name {
    font-size: 22px;
  }
}
#content .address .phone,
#content .address .email {
  display: block;
  font-size: 30px;
  line-height: 1.65;
}
@media (min-width: 600px) {
  #content .address .phone,
  #content .address .email {
    font-size: 5vw;
  }
}
#content .address .phone:hover .glyphicon,
#content .address .email:hover .glyphicon {
  color: #2c87ad;
}
#content .address .glyphicon {
  margin-right: 12px;
  font-size: 20px;
}
#footer {
  padding: 15px 0 20px;
}
#footer a {
  color: #666666;
}
#footer .copyright {
  color: #666666;
}
