@import (less) "lesshat.less";

@colorBrand: #3FB4FF;
@colorFg: #333;
@colorFgSubtle: lighten(@colorFg, 20);
@colorBg: #fff;
@colorLink: rgb(44, 135, 173);

@fontDefault: 'Open Sans', sans-serif;

@fontSize: 1em;
@fontSizeSmall: .8rem;
@fontSizeTiny: .6rem;

*, *:before, *:after {
	.box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	background-color: @colorBg;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}

a {
	color: #2a7ae2;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #205caa;
}

.wrap {
	max-width: 800px;
	padding: 0 30px;
	margin: 0 auto;
}

#header, #content, #footer {
	text-align: center;
}

#header {
	padding-top: 150px;
	padding-bottom: 80px;

	.logo {
		position: relative;
		display: inline-block;
		width: 320px;
		height: 160px;
		background: url(/img/logo.svg) no-repeat;
		background-size: contain;
		text-align: left;

		.slogan {
			position: absolute;
			width: 200px;
			left: 160px;
			font-size: 16px;
			color: @colorFgSubtle;

			&.lang-fr {
				top: 110px;
			}

			&.lang-de {
				top: 130px;
			}
		}
	}
}

#content {

	.address {
		a {
			color: @colorFg;
			text-decoration: none;

			&:hover:not(.glyphicon) {
				text-decoration: underline;
			}
		}
		.glyphicon {
			margin-right: 5px;
		}
	}
}

#footer {
	padding: 150px 0 20px;

	.copyright {
		color: @colorFgSubtle;
	}
}